{% extends 'core/base.html' %}

{% load static %}

{% block title %}Sobre mi{% endblock %}

{% block background %}{% static 'core/img/background.png' %}{% endblock %}

{% block headers %}
    <h1>Acerca de mi</h1>
    <span class="subheading">Breve descripción de mi persona</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" 
            src="{% static 'core/img/diego.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">"Make it simple, but make it!"</h2>   
        <p>Oriundo de Viña Del Mar, mi nombre es Diego y soy entre muchas otras cosas, padre de michis, músico, forever Dungeon Master y neurodivergente.</p>
        <p>Apasionado por la tecnología, el desarrollo web, y súper entusiasta de Linux, Python & Django. </p>
        <p>Cuento con una personaldida analítica, de caracter liviano y el temple de un samurái. Habilidades interpersonales cultivadas en la empatía y fertilizadas con sentido del humor. </p>
        <p>De aprendizaje proactivo, metódico y autogestionado, opté por dar un giro en la trama de mi vida, y para este arco dominé el lenguaje de programación Python y su framework Django (entre otras tecnologías afínes), herramientas con las que desarrollo en la actualidad.</p>
    </div>
</div>
{% endblock %}