{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoría & Desarrollo</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <h4>Gracias por tu visita!</h4>
        <p>Espero hayas encontrado lo que viniste a buscar.</p>
        <p>Para contactos profesionales, dudas o sugerencias, no dudes en ponerte en contacto a través de los enlaces que están en la parte inferior de la página, encontrarás mi Email, número de Whatsapp, y perfíl de Linkedin.</p>        
    </div>
</div>
{% endblock %}